<template>

  <div class="col-sm-2">
    <label class="model-image">
      <div class="model-image__loader-progress" v-bind:style="{height: (100 - image.uploadProgress) + '%'}">
      </div>
      <img :src="image.image"
           v-if="image.image"
           class="model-image__pic">
      <i class="model-image__remove fa fa-times-circle"
         v-on:click="drop"
         v-if="!isWait && image.file"
      ></i>
      <i class="model-image__process far fa-clock"
         v-if="isWait"
      ></i>
    </label>
  </div>

</template>

<script>
    export default {
        data: function () {
            return {
                isWait: false
            }
        },
        props: ['image'],
        methods: {
            drop() {
                this.isWait = true;
                this.$emit('drop', this.image.idx);
            }
        }
    }
</script>