<template>

  <div class="form-group row">

    <input type="hidden" v-model="dropedImagesArray" value="" name="dropped_images">

    <image-picker v-for="image in images"
                  v-bind:key="image.idx"
                  v-bind:image="image"
                  v-on:drop="dropImage">
    </image-picker>

    <div class="col-sm-2">
      <label class="model-image model-image__file-select">
        <input name="photo"
               type="file"
               class="mode-image__file-input"
               multiple
               v-on:change="chooseFile"
        >
        <i class="model-image__icon fa fa-plus"></i>
      </label>
    </div>

  </div>

</template>

<script>

    let imagePicker = require('./image.vue').default;

    export default {
        data: function () {
            return {
                dropedImages: [],
                images: []
            }
        },
        props: ['basketId', 'attached'],
        beforeMount() {

            this.attached.forEach((item, index) => {
                this.images.push({
                    idx: findMinAvailableIndex(this.images, 'idx'),
                    image: item.url,
                    file: item.file,
                    attached: item.attached,
                    uploadProgress: 100
                })
            });
        },
        computed: {
            dropedImagesArray(){
                return JSON.stringify(this.dropedImages);
            }
        },
        methods: {
            chooseFile(event) {

                if (event.target.files && event.target.files.length) {

                    for (let i = 0; i < event.target.files.length; i++) {

                        let reader = new FileReader();
                        let fileIdx = findMinAvailableIndex(this.images, 'idx');
                        let imageData = {
                            idx: fileIdx,
                            image: null,
                            file: null,
                            uploadProgress: 0
                        };

                        this.images.push(imageData);

                        reader.onload = (e) => {
                            imageData.image = e.target.result;
                        };

                        reader.readAsDataURL(event.target.files[i]);

                        //upload file to server

                        let formData = new FormData();

                        formData.append('file', event.target.files[i]);
                        formData.append('basketId', this.basketId);

                        axios.post('/basket',
                            formData,
                            {
                                headers: {
                                    'Content-Type': 'multipart/form-data'
                                },
                                onUploadProgress: function (progressEvent) {
                                    imageData.uploadProgress = parseInt(Math.round((progressEvent.loaded * 100) / progressEvent.total));
                                }
                            }
                        ).then((res) => {
                            imageData.file = res.data.file;
                        });

                    }

                    event.target.value = '';
                }

            },
            dropImage(imageIdx) {

                let targetElementPosition = findElementPosition(this.images, 'idx', imageIdx);
                let image = this.images[targetElementPosition];

                if (image.attached) {

                    this.dropedImages.push(image.file);
                    this.images.splice(targetElementPosition, 1);

                } else {

                    axios.post('/basket', {
                        _method: 'delete',
                        file: image.file,
                        basketId: this.basketId
                    }).then(() => {
                        let targetElementPosition = findElementPosition(this.images, 'idx', imageIdx);
                        this.images.splice(targetElementPosition, 1);
                    });

                }
            }
        },
        components: {imagePicker: imagePicker}
    }

    function findMinAvailableIndex(array, key) {

        let max = 0;

        array.forEach((item, index) => {
            if (item[key] > max) {
                max = item[key]
            }
        });

        return ++max;

    }

    function findElementPosition(array, key, needle) {

        let targetElementPosition = null;

        for (let idx in array) {
            if (array[idx][key] == needle) {
                targetElementPosition = idx;
                break;
            }
        }

        return targetElementPosition;

    }

</script>