
.file-picker {
  white-space: nowrap;
}

.file-picker__choose-file {
  @extend .d-inline-block;
  @extend .btn;
  @extend .btn-primary;
  cursor: pointer;
  margin-bottom: 0;
  position: relative;
}

.file-picker__file-input {
  bottom: 0;
  display: block;
  height: auto;
  left: 0;
  position: absolute;
  opacity: 0;
  right: 0;
  top: 0;
  width: auto;
}

.file-picker__progress{
  @extend .progress;

  width: 100%;
}
