/* model-image */

.model-image {
  @extend .img-thumbnail;
  font-size: 36px;
  margin-bottom: 20px;
  overflow: hidden;
  position: relative;
  width: 100%;
  z-index: 1;
}
.model-image__file-select{
  cursor: pointer;
}
.model-image:before {
  content: "";
  padding-top: 100%;
  float: left;
}
.model-image:hover {
  background:  whitesmoke;
}
.mode-image__file-input{
  bottom: 0;
  display: block;
  height:  auto;
  left: 0;
  position: absolute;
  opacity: 0;
  right: 0;
  top: 0;
  width: auto;
}
.model-image__icon{
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
}
.model-image__pic{
  display: block;
  max-height: calc(100% - 10px);
  left: 50%;
  position: absolute;
  top: 50%;
  max-width: calc(100% - 10px);
  transform: translate(-50%, -50%);
  z-index: 3;
}
.model-image__remove{
  cursor: pointer;
  position: absolute;
  right: 10px;
  top: 10px;
  z-index: 5;
}
.model-image__process{
  font-size: 70px;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 4;
}
.model-image__loader-progress{
  background: #f5f8fa;
  height: 100%;
  position: absolute;
  transition: ease 300ms;
  left: 0;
  bottom: 0;
  width: 100%;
  z-index: 4;
}