<template>
  <div>
    <input
        :name="name"
        type="hidden"
        v-model="result"
    >
    <multiselect
        placeholder="Укажите категории"
        v-model="selected"
        label="title"
        :options="list"
        :multiple="true"
        :taggable="true"
        track-by="id"
    ></multiselect>
  </div>
</template>

<script>

    import Multiselect from 'vue-multiselect'

    export default {
        data: function () {
            return {
                selected: this.value
            }
        }
        ,
        props: ['value', 'list', 'name'],
        components: {
            Multiselect
        },
        computed: {
            result: function () {
                return this.selected.map((item) => {
                    return item.id
                });
            }
        },
        getCategoryById: function (id) {
            for (let i in this.list) {
                if (this.list[i].id === id) {
                    return this.list[i].id;
                }
            }

            return null;
        }
    }
</script>

<style src="vue-multiselect/dist/vue-multiselect.min.css"></style>