<template>
  <div class="my-compact-picker">
    <compact v-model="colors"></compact>
    <input type="hidden" v-model="colors.hex" :name="name">
  </div>
</template>

<script>
    import {Compact} from 'vue-color'

    export default {
        data: function () {
            return {
                colors: {
                    hex: this.value || '#ffffff'
                }
            };
        },
        props: [
            'value',
            'name'
        ],
        components: {
            compact: Compact
        }
    }
</script>

<style>
  .my-compact-picker {

  }

  .my-compact-picker .vc-compact {
    width: 245px;
  }
</style>