<template>
  <div>
    <input
        :name="name"
        type="hidden"
        v-model="result"
    >
    <multiselect
        v-model="selected"
        :label="label"
        :options="list"
        :multiple="false"
        :taggable="false"

        :placeholder="tip"
        selectLabel="Нажмите enter для выбора"
        deselectLabel="Нажмите enter для отмены выбора"
        selectedLabel="выбрано"

        track-by="id"
    ></multiselect>
  </div>
</template>

<script>
    import Multiselect from 'vue-multiselect'

    export default {
        data: function () {
            return {
                selected: this.selectedObject(),
                tip: this.placeholder || 'Выберите из списка'
            }
        },
        props: ['value', 'list', 'name', 'label', 'item_key', 'placeholder'],
        components: {
            Multiselect
        },
        computed: {
            result: function () {
                let selected =  this.selected ? this.selected.id : null;

                this.$emit('change', selected);

                return selected;
            }
        },
        methods: {
            selectedObject() {
                let key = this.item_key || 'id';
                for (let i in this.list) {
                    if (this.list[i][key] === this.value) {
                        return this.list[i];
                    }
                }

                return null;
            }
        }
    }
</script>

<style src="vue-multiselect/dist/vue-multiselect.min.css"></style>

<style>
  .multiselect__tags{
    border-right: none;
  }
  .multiselect__placeholder{
    padding-top: 0;
    margin-bottom: 0;
  }
</style>