<template>
  <span>
    <button
          :class="[...classList]"
          :title="this.title"
          :name="this.name"
          :value="this.value"
          @click="onClick"
    >
      <slot></slot>
    </button>
  </span>
</template>
<script>
    export default {
        data: function(){
            return {
                classList: this.classes || ['btn']
            }
        },
        props: ['classes', 'title', 'name', 'value'],
        methods: {
            onClick: (event) => {
                !confirm('Подтвердите действие') && event.preventDefault();
            }
        }
    }
</script>