<template>
  <div class="input-group">
    <vuejsdatepicker
        :name="name"
        wrapper-class="form-control"
        input-class="date-form-control"
        :value="stamp"
        format="yyyy-MM-dd"
        placeholder="Дата"
        :language="datetime.ru"
        :monday-first="true"
    ></vuejsdatepicker>
    <div class="input-group-append">
      <span class="btn btn-outline-secondary col" @click="resetDate">
        <i class="fas fa-times"></i>
      </span>
    </div>
  </div>
</template>


<script>
    export default {
        data: function () {
            return {
                datetime: {
                    ru: require('vuejs-datepicker/dist/locale').ru
                },
                stamp: this.value
            }
        },
        props: ['value', 'name'],
        components: {
            vuejsdatepicker: require('vuejs-datepicker').default
        },
        methods: {
            resetDate() {
                this.stamp = null;
            }
        }
    }
</script>