<template>
  <div class="file-picker">

    <input type="hidden" v-bind:name="name" v-bind:value="fileValue">

    <div class="row">
      <div class="col">

        <div v-if="fileValue" class="d-inline-block">
          <slot></slot>
          <span class="btn btn-danger" @click="dropFile">
            <i class="fas fa-trash"></i>
          </span>
        </div>

        <label class="file-picker__choose-file" v-if="progress===0">
          <input type="file"
                 class="file-picker__file-input"
                 v-on:change="chooseFile"
          >
          <i class="fas fa-cloud-upload-alt"></i>
        </label>
      </div>

      <div class="col-10">
        <div class="file-picker__progress" v-if="progress!==0">
          <div class="progress-bar progress-bar-striped"
               role="progressbar"
               v-bind:style="{width: progress + '%'}"
          ></div>
        </div>
      </div>
    </div>

  </div>
</template>

<script>
    export default {
        data: function () {
            return {
                progress: 0,
                fileValue: this.file
            }
        },
        props: ['name', 'basketId', 'file'],
        methods: {
            chooseFile(event) {

                if (event.target.files && event.target.files.length) {

                    this.progress = 1;

                    //upload file to server
                    let formData = new FormData();

                    formData.append('file', event.target.files[0]);
                    formData.append('basketId', this.basketId);

                    axios.post('/basket',
                        formData,
                        {
                            headers: {
                                'Content-Type': 'multipart/form-data'
                            },
                            onUploadProgress: (progressEvent) => {
                                this.progress = parseInt(Math.round((progressEvent.loaded * 100) / progressEvent.total));
                            }
                        }
                    ).then((res) => {
                        this.progress = 0;
                        this.fileValue = res.data.file;
                    }, () => {
                        this.progress = 0;
                    });

                }

                event.target.value = '';
            },
            dropFile() {
                this.fileValue = null
            }
        }
    }
</script>
