<template>
  <div class="nested">

    <draggable :items="tree"
               @remove="removeItem"
               @edit="editItem"
    ></draggable>

    <textarea v-model="structureJSON" :name="name" class="d-none"></textarea>
  </div>
</template>

<script>
    import draggable from './sortable';

    export default {
        data: function () {
            return {
                tree: this.getTree(),
                removed: []
            }
        },
        props: ['items', 'name', 'link', 'title'],
        computed: {
            structureJSON: function () {
                let order = [];

                let getOrder = (items, parentId) => {
                    for (let i in items) {
                        order.push({
                            id: items[i].id,
                            parent_id: parentId,
                            order: i
                        });

                        getOrder(items[i].children, items[i].id);
                    }
                };

                getOrder(this.tree, null);

                let result = {
                    order: order,
                    removed: this.removed
                };

                return JSON.stringify(result, true, 2);
            },
        },
        methods: {
            getTree: function() {
                let getChildren = (parentId) => {
                    let children = [];

                    for (let i in this.items) {

                        if(this.title){
                            this.items[i].title = this.items[i][this.title];
                        }

                        if (this.items[i].parent_id == parentId) {
                            this.items[i].children = getChildren(this.items[i].id);

                            children.push(this.items[i]);
                        }
                    }

                    return children;
                };

                return getChildren(null);
            },
            removeItem(item) {
                this.removed.push(item.id);
            },
            editItem: function(item) {
                window.location = this.link.toString().replace('_id_', item.id);
            }
        },
        components: {
            'draggable': draggable
        }
    }
</script>