<template>
  <div class="form-row">
    <div class="col-6 form-group">
      <label>Тип объекта</label>
      <combobox
          class="w-100"
          name="object_class"
          label="title"
          :value="null"
          :list="objectTypes"
          v-on:change="loadList"
      ></combobox>
    </div>
    <div class="col-6 form-group">
      <label>Объект</label>
      <combobox
          class="w-100"
          name="object_id"
          label="title"
          v-bind:value='null'
          v-bind:list='objectList'
      ></combobox>
    </div>
  </div>
</template>

<script>

    import combobox from "./combobox";

    let objectTypes = [
        {
            "id": "estate",
            "title": "Объект недвидижимости"
        },
        {
            "id": "declaration",
            "title": "Декларация"
        },
        {
            "id": "calls",
            "title": "Обзвон"
        }
    ];

    export default {
        data: function () {
            return {
                objectTypes: objectTypes,
                objectList: []
            }
        },
        props: ['objectUrl'],
        methods: {
            loadList: function (selectedType) {

                console.log(selectedType, this.objectUrl);
                this.objectList = [];

                if (selectedType === null) {

                    return;
                }

                axios.get(this.objectUrl, {
                    params: {
                        type: selectedType
                    }
                }).then((result) => {
                    this.objectList = result.data;
                });
            }
        },
        components: {
            combobox
        }
    }
</script>