<template>
  <div>
    <input type="hidden" :name="name" :value="rawValue">
    <money v-model="price"
           v-bind="money"
           class="form-control"
           v-on:input="onChange"
    ></money>
  </div>
</template>

<script>
    import {Money} from 'v-money'

    export default {
        components: {Money},

        data () {
            return {
                rawValue: this.value,
                price: this.value,
                money: {
                    decimal: '.',
                    thousands: ' ',
                    prefix: '',
                    suffix: ' ₽',
                    precision: 0,
                    masked: false
                }
            }
        },
        props: ['value', 'name'],
        methods: {
            onChange(price){
              this.rawValue = price;
            }
        }
    }
</script>