<template>
  <div>
    <textarea :name="name" :value="finalValue" class="d-none"></textarea>
    <ckeditor
        :editor="editor"
        v-model="editorData"
        :config="editorConfig"
    ></ckeditor>
  </div>
</template>

<script>
    import CKEditor from '@ckeditor/ckeditor5-vue';
    import ClassicEditor from '@ckeditor/ckeditor5-build-classic';

    export default {
        name: 'app',
        data() {
            return {
                editor: ClassicEditor,
                editorData: this.value,
                editorConfig: {
                    minHeight: '300px',
                    toolbar: {
                        items: [
                            'bold',
                            'italic',
                            'link',
                            'bulletedList',
                            'numberedList',
                            'undo',
                            'redo',
                        ]
                    }
                }
            };
        },
        props: ['name', 'value'],
        computed: {
            finalValue() {
                return this.editorData
            }
        },
        components: {
            ckeditor: CKEditor.component
        }
    }
</script>