<template>
  <div class="draggable-box">

    <ul class="list-group">
      <draggable :list="items" group="sortable" :group="{name: 'g1'}">
        <li class="list-group-item"
            v-for="item in structure"
            v-bind:key="item.id">

          <div class="row">
            <div class="col-10">
              <i class="fas fa-grip-vertical mr-3"></i>
              {{item.title}}
            </div>
            <div class="col-2 text-right">
              <span class="btn btn-outline-primary btn-sm cur" @click="editItem(item)"><i class="fas fa-edit"></i></span>
              <span class="btn btn-danger btn-sm"
                    v-if="item.children.length === 0"
                    @click="removeItem(item)"><i class="fas fa-trash"></i></span>
            </div>
          </div>
          <sortable :items="item.children"
                    :group="{name: 'g1'}"
                    @remove="removeItem"
                    @edit="editItem"
          ></sortable>
        </li>
      </draggable>
    </ul>

  </div>
</template>

<script>
    import draggable from 'vuedraggable';

    export default {
        name: 'sortable',
        data: function () {
            return {
                structure: this.items,
                removed: []
            }
        },
        computed: {
            structureJSON: function () {

                let result = {
                    order: [],
                    removed: this.removed
                };

                if(!this.items){
                    return '[]';
                }

                this.items.forEach(function (item, order) {
                    result.order.push({
                        id: item.id,
                        order: order
                    })
                });

                return JSON.stringify(result, true, 2);
            }
        },
        props: ['items'],
        components: {
            draggable
        },
        methods: {
            removeItem(item) {
                this.$emit('remove', item);
                this.structure.splice(this.structure.indexOf(item), 1);
            },
            editItem: function(item) {
                this.$emit('edit', item);
            }
        }
    }

</script>

<style>
  .draggable-box .draggable-box{
    min-height: 10px;
    margin: 0 -1.25rem -13px 0;
    padding: 4px;
  }
</style>