<template>
  <div>
    <input type="hidden" v-model="utm" :name="name">
    <timeselector
        v-model="time"
        :interval="{h:1, m:5}"
        placeholder="Время"
        displayFormat="H:mm"
    ></timeselector>
  </div>
</template>


<script>
    export default {
        data: function () {
            return {
                time: this.getValue()
            }
        },
        props: ['value', 'name'],
        components: {
            timeselector: require('vue-timeselector').default
        },
        computed: {
            utm() {
                console.log(this.time);
                return this.time ? this.time.getTime() : null;
            }
        },
        methods: {
            getValue() {
                this.value || null;
            }
        }
    }
</script>