// Body
$body-bg: #ffffff;


// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

//Montserrat
$montserrat: 'Montserrat', sans-serif;
//Roboto
$roboto: 'Roboto', sans-serif;
//RobotoCondensed
$robotoCondensed: 'Roboto Condensed', sans-serif;

//Font-weight
$lightWeight: 300;
$regularWeight: 400;
$mediumWeight: 500;
$semiBoldWeight: 600;
$boldWeight: 700;

// Colors
$black: #000000;
$blue: #0079d3;
$darkBlue: #0e78cf;
$dark: #3e4147;
$gray: #f3f3f3;
$indigo: #6574cd;
$darkGray: #4c4a4b;
$lightGray: #8c8c8c;
$mainColor: #2a9fff;
$purple: #9561e2;
$pink: #f66d9b;
$red: #ff0000;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;
$white: #ffffff;

// Font-size
$purchaseAndSale: 36px;
$business: 30px;
$counter: 9px;

//Margin
$titleMargin: 89px;