// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');
@import './variables';
@import './bootstrap';
@import '~@fancyapps/fancybox/dist/jquery.fancybox.css';
@import "libs/animate";
@import "libs/libs";
@import "libs/sprite";
@import "libs/owl.carousel";

html, body {
  height: 100%;
}

.main-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.content-b {
  flex: 1 0 auto;
  padding-bottom: 60px;
}

.footer-b {
  background: #373a40;
  flex: 0 0 auto;
}

.btn {
  height: 44px;
  border-radius: 1px;
}

.btn--large{
  font-size: 18px;
  font-weight: 700;
  height: 66px;
  line-height: 64px;
  padding: 0 35px
}

.show-more {
  border-bottom: 1px solid $lightGray;
  color: $lightGray;
  display: inline-block;
  font-family: $montserrat;
  font-weight: $semiBoldWeight;
  font-size: 18px;
  text-decoration: none;
  margin-bottom: 95px;

  &:hover {
    color: #000;
    text-decoration: none;
  }
}

.secondary-title {
  color: #3e4147;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 26px;
  font-weight: 700;
  margin-bottom: 40px;
}

.page-information{
  margin-bottom: 80px;
}

.price-line{
  background: #f2f6f9;
  height: 54px;
  font-size: 16px;
  line-height: 54px;
  margin-bottom: 40px;
  padding: 0 17px;
  .col+.col{
    text-align: right;
  }
  span{
    font-weight: 700;
  }
}

//Components
@import "./components/article-card";
@import "./components/breadcrumb";
@import "./components/business-info";
@import "./components/category-business";
@import "./components/contacts-content";
@import "./components/contacts-info";
@import "./components/errors-page";
@import "./components/department";
@import "./components/description-business-sale";
@import "./components/gallery-box";
@import "./components/form";
@import "./components/header-search";
@import "./components/help-for-business";
@import "./components/job-single";
@import "./components/image-article";
@import "./components/info-about-company";
@import "./components/nav-footer";
@import "./components/nav-gray-footer";
@import "./components/nav-header";
@import "./components/pagination-list";
@import "./components/page-header";
@import "./components/page-service";
@import "./components/paragraph-article";
@import "./components/purchase-sale-business";
@import "./components/ready-business";
@import "./components/review";
@import "./components/select-business";
@import "./components/simple-gallery";
@import "./components/special-menu";
@import "./components/service-request-form";

//Modules

@import "./modules/tabs";

.print-only{
  display: none;
}

@media print {
  .no-print{
    display: none!important
  }
  .print-only{
    display: block!important;
  }
  .col-print-4{
    width: 33%;
  }
  .col-print-6{
    width: 50%;
  }
  .col-print-8{
    width: 66%;
  }
  .business-info__details .numbers .data{
    font-size: 16px;
  }
  .business-info__details{
    border-left: 1px solid #000;
  }
  .print-text-center{
    text-align: center!important;
  }
  .short-description__item,
  .business-info__categories{
    font-size: 12px;
  }
  .broker-name{
    font-size: 16px;
  }
}