
$trns: ease 700ms;
$trns-hover: ease 300ms;

%transite_{
  transition: $trns;
  &:hover{
    transition: $trns-hover;
  }
}

@mixin ab($w, $h){
  content: '';
  display: block;
  height: $h;
  width: $w;
}
@mixin ib($w, $h){
  display: inline-block;
  height: $h;
  vertical-align: middle;
  width: $w;
}
@mixin b($w, $h){
  display: block;
  height: $h;
  width: $w;
}
@mixin animate($t){
  -webkit-transition: ease-in $t;
  -moz-transition: ease-in $t;
  -ms-transition: ease-in $t;
  -o-transition: ease-in $t;
  transition: ease-in $t;
}
@mixin c-fix(){
  @include ab(100%, 0);
  clear: both;
  overflow: hidden;
}
@mixin icon-sprite($sprite-name){
  @include ab(0,0);
  @include sprite($sprite-name);
  position: absolute;
  left: 50%;
  top: 50%;
  margin-top: nth($sprite-name, 6)*-.5;
  margin-left: nth($sprite-name, 5)*-.5;
}
@mixin col($w){
  box-sizing: border-box;
  float: left;
  width: $w;
}


%c_fix{
  &:after{
    @include ab(100%, 0);
    clear: both;
    overflow: hidden;
  }
}

%grid{
  @extend %c_fix;
  margin-left: -15px;
  margin-right: -15px;
  .col{
    box-sizing: border-box;
    float: left;
    padding-left: 15px;
    padding-right: 15px;
  }
}

@mixin placeholder {
  &::-webkit-input-placeholder { @content; }
  &:-moz-placeholder           { @content; }
  &::-moz-placeholder          { @content; }
  &:-ms-input-placeholder      { @content; }  
}

%owl-pager{
  .owl-pagination{
    display: table;
    margin: 0 auto;
    $item-color: #fff;
    $active-color: #0277d2;
    $height: 12px;
    .owl-page{
      display: inline-block;
      margin: 0 4px;
      white-space: nowrap;
      span{
        background: $item-color;
        border-radius: 50%;
        cursor: pointer;
        display: inline-block;
        height: $height;
        position: relative;
        transition: $trns-hover;
        vertical-align: middle;
        width: $height;
        &:after{
          background: $active-color;
          border-radius: 50%;
          content: '';
          display: block;
          position: absolute;
          left: 50%;
          top: 50%;
          margin-left: -($height/2);
          margin-top: -($height/2);
          height: $height;
          width: $height;
          transform: scale(0);
          transition: $trns-hover;
        }
      }
      &:hover,
        &:hover.active,
        &.active{
        span{
          &:after{
            transform: scale(1);
          }
        }
      }
    }
  }
}



%top-shadow{
  position: relative;
  z-index: 0;
  &:before{
    @include ab(100%, 160px);
    background: rgb(248,248,248);
    background: linear-gradient(180deg, rgba(248,248,248,1) 0%, rgba(255,255,255,1) 100%);
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
  }
}