@mixin font($font-name, $file-name) {
    font-family: $font-name;
    src: url( 'fonts/'+$file-name+'.eot' );
    src: url( 'fonts/'+$file-name+'.eot' ) format('embedded-opentype'),
         url( 'fonts/'+$file-name+'.woff' ) format('woff'),
         url( 'fonts/'+$file-name+'.ttf' ) format('truetype');
}
@font-face {
  @include font('MuseoSansCyrl','MuseoSansCyrl-100');
  font-weight: 100;
}
@font-face {
  @include font('MuseoSansCyrl','MuseoSansCyrl-300');
  font-weight: 300;
}
@font-face {
  @include font('MuseoSansCyrl','MuseoSansCyrl-500');
  font-weight: 500;
}
@font-face {
  @include font('MuseoSansCyrl','MuseoSansCyrl-700');
  font-weight: 700;
}
@font-face {
  @include font('MuseoSansCyrl','MuseoSansCyrl-900');
  font-weight: 900;
}