.tabs{
  margin-bottom: 80px;
}

.tabs_menu{
  margin-bottom: 15px;
  position: relative;
  &:after{
    @include ab(100%, 2px);
    background: #959595;
    position: absolute;
    bottom: -2px;
  }
}

.tabs__toggle{
  cursor: pointer;
}
.tabs__toggle--active{
}

.tab{
  display: none;
  &.tab--active{
    display: block;
  }
}