@import './variables';
@import '~bootstrap/scss/bootstrap';

.admin_main{
  @media screen and (max-width: 1400px){
    h1{
      font-weight: 400;
      font-size: 30px;
    }
  }
}

.admin-sidebar {
  background: #e9ecef;
  border-right: 1px solid #ced4da;;
  padding: 0;
  flex: 0 0 250px;
  max-height: 100vh;
  min-height: 100vh;
  position: sticky;
  transition: flex-basis ease 400ms;
  top: 0;
  z-index: 1002;

  .list-group {
    width: 100%;
  }

  .list-group-item {
    white-space: nowrap;
    overflow: hidden;
    max-width: 100%;
  }
}

.admin-sidebar--closed {
  flex-basis: 39px;

  .admin-sidebar__menu-label {
    display: none;
  }

  .data_admin {
    padding: 5px;
  }
}

.data_admin {
  border-bottom: 1px solid #ced4da;
  font-size: 20px;
  margin-bottom: 0;
  padding: 10px;
  text-align: center;
}

.admin-sidebar__body {
  position: sticky;
  top: 0;
}

.admin-sidebar__footer {
  bottom: 0;
  position: absolute;
  left: 0;
  right: 0;
}

.admin-panel-bottom {
  border-top: 1px solid #ced4da;;
  background: #fff;
  padding-top: 10px;
  padding-bottom: 10px;
  z-index: 1001;

  + .panel-spacer {
    height: 80px;
  }
}

.admin-sidebar__action {
  cursor: pointer;
}

.fa-grip-vertical {
  cursor: move;
}

.label-dsc {
  @extend .text-muted;

  &:before {
    content: '(';
  }

  &:after {
    content: ')';
  }
}

.date-form-control {
  border: none;
  display: block;
  outline: none;
  width: 100%;
  &[readonly] {
    background-color: $input-bg;
  }
}

.ck-editor__editable {
  min-height: 300px;
}

.with-tooltip {
  position: relative;

  &:hover {
    .tooltip {
      display: block;
      opacity: 1;
    }
  }

  .tooltip {
    display: none;
    white-space: nowrap;
    top: 50%;
    transform: translateY(-50%);
    margin-top: 0;
    left: 100%;
    margin-left: 10px;

    .arrow {
      top: 50%;
      transform: translateY(-50%);
      margin-top: 0;
    }
  }
}

.form-alert {
  margin-top: 1.5rem !important;
}

.vtimeselector__input {
  @extend .form-control;
  background: #fff !important;
}

@import './components/file-picker';
@import './components/model-image';
