//Articles-about-business
.articles-about-business {
	background-color: $white;

	.show-all-container {
		.show-all {
			border-bottom: 1px solid $lightGray;
			color: $lightGray;
			display: inline-block;
			font-family: $montserrat;
			font-weight: $semiBoldWeight;
			font-size: 18px;
			text-decoration: none;
			margin-bottom: 95px;
		}
	}
}

@media (min-width: 320px) and (max-width: 576px) {
	.articles-about-business {
		.title-articles {
			font-size: 16px;
		}
	}
}