.article-card {
}

.article-card__title {
  color: #383838;
  display: block;
  font-size: 20px;
  font-family: $montserrat;
  font-weight: $semiBoldWeight;
  margin-top: 1rem;
  margin-bottom: 1rem;
  width: 90%;
  &:hover{
    color: #000;
  }
}

.article-card__preview {
  width: 100%;
  display: block;
}