.breadcrumb-b {
  @extend .mb-4;

  .nav {
    .nav-item {
      align-items: center;
      list-style-type: none;
      display: inline-flex;
      flex-wrap: wrap;

      & + .nav-item {
        &:before {
          border-radius: 50%;
          background-color: $mainColor;
          content: '';
          display: inline-block;
          width: 5px;
          height: 5px;
          margin-right: 16px;
          margin-left: 16px;
        }
      }

      .nav-link {
        color: #3e4147;
        font-size: 14px;
        font-family: $montserrat;
        font-weight: $lightWeight;
        padding-left: 0;
      }

      .nav-link-previous {
        color: #0079d3;
        font-size: 14px;
        font-family: $montserrat;
        font-weight: $lightWeight;
        padding-left: 0;
        text-decoration: none;
      }
    }
  }
}