.business-info {

}

.business-info__gallery {
  margin-bottom: 20px;
}

.business-info__categories {
  color: #afaeae;
  font-size: 18px;
  font-family: $montserrat;
  margin-bottom: 40px;
}

.business-info__details {
  background: #f2f6f9;
  padding: 30px 20px;
  position: relative;

  .numbers {
    font-family: $montserrat;
    font-size: 16px;
    font-weight: 100;
    margin-bottom: 30px;

    .data {
      display: block;
      font-size: 24px;
      font-weight: 500;
    }
  }

  .location {
    margin-bottom: 40px;
  }

  .show-number {
    border: 2px solid #0076d2;
    color: #0076d2;
    cursor: pointer;
    display: block;
    font-size: 16px;
    line-height: 1.1;
    margin-bottom: 16px;
    padding: 10px;
    text-align: center;

    span {
      display: block;
    }

    .name {
      font-weight: 500;
    }
  }

  .submit-application {
    background: #0076d2;
    color: #fff;
    cursor: pointer;
    display: block;
    font-size: 18px;
    height: 56px;
    line-height: 56px;
    margin-bottom: 35px;
    text-align: center;
  }

  .additional-features {
    color: #0076d2;
    font-size: 18px;
    text-align: center;
    text-decoration: underline;
    span{
      cursor: pointer;
    }
  }
}

.business-info__special {
  background: #0076d2;
  border-radius: 0 0 0 100%;
  height: 86px;
  position: absolute;
  right: 0;
  top: 0;
  width: 86px;

  &:before {
    @include icon-sprite($like);
    left: auto;
    margin-top: 0;
    margin-left: 0;
    right: 15px;
    top: 15px;
  }
}

.business-info__content-group {
  font-family: $montserrat;
  margin-bottom: 40px;

  .title {
    font-size: 20px;
    margin-bottom: 30px;
  }

  .body {
    line-height: 1.4;
    font-size: 16px;

    p + p {
      margin-top: 20px;
    }
  }
}

.business-inf__video{
  position:relative;
  padding-bottom:56.25%;
  padding-top:30px;
  height:0;
  overflow:hidden;
  iframe, object, embed{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
  }
}

.short-description__item {
  font-size: 16px;
  margin-bottom: 10px;

  .label {
    display: inline-block;
  }

  .value {
    display: inline-block;
    font-weight: 500;
  }
}

.broker-name{
  text-align: center;
  font-size: 18px;
  margin-bottom: 40px;
  label{
    color: #0076d2;
    display: block;
  }
}

.object-id{
  font-size: 12px;
  display: block;
  color: #e1e1e1;
}