//Category business
.category-business {
	background-color: $white;

	.card-business {
		display: flex;
		flex-wrap: wrap;
		align-content: center;
		background-color: $gray;
		width: 100%;
		height: 96px;

		.categories-business {
			width: 100%;
			text-align: center;

			.name-business {
				color: $darkBlue;
				font-size: 16px;
				font-family: $montserrat;
				font-weight: $mediumWeight;
			}

			.counter-business {
				font-size: $counter;
				position: relative;
				bottom: 4px;
			}
		}

		.price-from-business {
			font-size: 16px;
			font-family: $montserrat;
			font-weight: $regularWeight;
			color: $dark;
			width: 100%;
			text-align: center;
			display: block;
		}
	}


	.title-business {
		color: $dark;
		font-family: $robotoCondensed;
		font-size: 26px;
		font-weight: $boldWeight;
	}
}

.category-business--single{
	margin-bottom: 80px;
}
