//contacts-info
.contacts-info {
	background-color: $white;

	.contacts-data {
		margin-top: 64px;
		margin-bottom: 161px;;
		.city {
			display: inline-block;
			font-size: 14px;
			color: #383838;
			font-family: $montserrat;
			font-weight: $lightWeight;
		}

		.header-contacts {
			color: #383838;
			display: block;
			font-size: 16px;
			font-weight: $boldWeight;
			font-family: $montserrat;
		}

		.phone-number {
			display: inline-block;
			font-size: 14px;
			color: #383838;
			font-family: $montserrat;
			font-weight: $lightWeight;
		}

		.street {
			.address {
				font-size: 14px;
				color: #383838;
				font-family: $montserrat;
				font-weight: $lightWeight;
			}
			.point {
				display: inline-block;
				border-radius: 50%;
				background-color: $red;
				width: 5px;
				height: 5px;
			}
		}
	}

	.write-message {
		background-color: #0079d3;
		color: $white;
		cursor: pointer;
		font-size: 14px;
		font-weight: $mediumWeight;
		font-family: $montserrat;
		height: 46px;
		line-height: 46px;
		margin-top: 64px;
		padding: 0 20px;
		text-align: center;
		width: 231px;
	}
}

@media screen and (max-width: 767px) {
	.contacts-info {
		.contacts-data {
			margin-top: 1.5rem;
			margin-bottom: 1.5rem;
		}

		.write-message {
			margin-top: 1.5rem;
			margin-bottom: 1.5rem;
		}
	}
}