.department {
  font-family: $montserrat;
  margin-bottom: 40px;
}

.department__title {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 40px;
}

.department__body {

}

.department__job {
  $bg-main: #fff;
  $bg-hover: #0079d3;

  $transition-main: 700ms ease;
  $transition-hover: 200ms ease;

  $border-color: #e8e8e8;
  $border: 1px solid $border-color;
  $height: 100px;
  background: $bg-main;
  border: $border;
  border-radius: 2px;
  color: #000;
  display: block;
  font-size: 16px;
  height: $height;
  line-height: $height;
  margin-bottom: 10px;
  position: relative;
  padding: 0 30px;
  text-decoration: none;
  transition: $transition-main;
  z-index: 1;

  i {
    border-left: $border;
    bottom: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: $transition-main;
    width: 60px;

    &:before,
    &:after {
      @include ab(0, 0);
      border: 15px solid transparent;
      border-right: none;
      border-left-color: $border-color;
      left: 50%;
      position: absolute;
      top: 50%;
      transform: translate(-50%, -50%);
      transition: $transition-main;
      z-index: 1;
    }

    &:after {
      border-left-color: $bg-main;
      margin-left: -2px;
      z-index: 2;
    }
  }

  &:hover {
    background: $bg-hover;
    border-color: $bg-hover;
    color: $bg-main;
    text-decoration: none;
    transition: $transition-hover;

    i {
      border-left-color: $bg-hover;
      transition: $transition-hover;

      &:before {
        border-left-color: $bg-main;
        transition: $transition-hover;
      }

      &:after {
        border-left-color: $bg-hover;
        transition: $transition-hover;
      }
    }
  }
}