//description-business-sale
.description-business-sale {
	background-color: $white;

	.description-text {
		margin-bottom: 49px;

		.text {
			color: #383838;
			display: block;
			font-size: 16px;
			font-weight: $lightWeight;
			font-family: $montserrat;
		}
	}

}
