
.error-page {
  padding-top: 60px;
  margin-bottom: 60px;
}

.not-found-title {
  color: #565656;
  font-family: $montserrat;
  font-size: 21px;
  margin-bottom: 70px;
  span{
    color: #565656;
    display: inline-block;
    font-size: 66px;
    font-weight: 700;
    line-height: 1;
    margin-top: 10px;
    vertical-align: top;
  }
}

.error-page__proposal-actions{
  margin: 0 -10px;
  .btn{
    margin-left: 10px;
    margin-right: 10px;
  }
}