.form {
  &.fancybox-content {
    overflow: visible;
  }

  &.mix--callback {
    width: 400px;
  }

  &.mix-job-request {
    border: 1px solid #e8e8e8;
    margin-bottom: 80px;
    padding: 30px;
  }
}

.form-control{
  height: 44px;
}

.form__title {
  font-size: 24px;
  font-family: $robotoCondensed;
  font-weight: 700;
  margin-bottom: 20px;
}

.form-file {
  @extend .form-control;
  cursor: pointer;
  background: #f2f6f9;
  border-color: #f2f6f9;
  display: block;
  overflow: hidden;
  position: relative;
  text-align: center;
  width: 100%;

  &:before{
    @include ab(0,0);
    @include sprite($attache);
    display: inline-block;
    vertical-align: middle;
  }

  .field_wrapper,
  input {
    display: none !important;
  }
}

/* feild wrapper */

.field_wrapper {
  position: relative;
}

.field_wrapper input,
.field_wrapper textarea {
  transition: ease-in 1000ms;
}

.field_wrapper.wrong input,
.field_wrapper.wrong textarea {
  border-color: red;
  box-shadow: 0 0 5px red;
  transition: ease-in 1000ms;
}

.field_wrapper .error_label {
  background: rgb(255, 48, 25); /* Old browsers */
  background: -moz-linear-gradient(top, rgba(255, 48, 25, 1) 0%, rgba(207, 4, 4, 1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255, 48, 25, 1)), color-stop(100%, rgba(207, 4, 4, 1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(255, 48, 25, 1) 0%, rgba(207, 4, 4, 1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(255, 48, 25, 1) 0%, rgba(207, 4, 4, 1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, rgba(255, 48, 25, 1) 0%, rgba(207, 4, 4, 1) 100%); /* IE10+ */
  background: linear-gradient(to bottom, rgba(255, 48, 25, 1) 0%, rgba(207, 4, 4, 1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff3019', endColorstr='#cf0404', GradientType=0); /* IE6-9 */
  border-radius: 4px;
  bottom: 100%;
  box-shadow: 1px 1px 3px #c9c9c9;
  color: #fff;
  font-size: 12px;
  left: 50%;
  margin-left: -96px;
  margin-bottom: 10px;
  padding: 6px;
  position: absolute;
  text-align: center;
  visibility: hidden;
  width: 180px;
}

.field_wrapper .error_label:after {
  content: '';
  display: block;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 4px solid rgba(207, 4, 4, 1);
  position: absolute;
  bottom: -4px;
  left: 50%;
  margin-left: -2px;
}

.v_form .field_wrapper .error_label {
  bottom: 50%;
  margin-bottom: -12px;
  left: 100%;
  margin-left: 10px;
}

.v_form .field_wrapper .error_label:after {
  border-left: none;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  top: 50%;
  left: -4px;
  margin-left: 0;
  margin-top: -4px;
  border-right: 4px solid #e90404;
}

.field_wrapper.wrong .error_label {
  visibility: visible;
  -webkit-animation: 400ms bounceIn;
  animation: 400ms bounceIn;
}