.gallery-box {
  display: block;
  @extend %c_fix;
}

.gallery-box__carousel {
  background: gray;
  float: right;
  position: relative;
  width: 50%;
  max-width: 485px;

  &:not(.loaded) {
    .gallery-box__images {
      img:nth-child(n+2) {
        display: none;
      }
    }
  }
}

.gallery-box__carousel-arrow {
  cursor: pointer;
  position: absolute;
  top: 50%;
  margin-top: -($gallery-prev-height/2);
  z-index: 2;
}

.gallery-box__carousel-arrow--prev {
  &:before {
    @include icon-sprite($gallery-prev);
  }

  left: 20px;
}

.gallery-box__carousel-arrow--next {
  &:before {
    @include icon-sprite($gallery-next);
  }

  right: 20px;
}

.gallery-box__carousel-navigation {
  position: absolute;
  z-index: 2;
  left: 0;
  bottom: 25px;
  right: 0;
  @extend %owl-pager;
}

.gallery-box__images {
  position: relative;
  z-index: 1;

  img {
    display: block;
    max-width: 100%;
  }
}