.header-search {
  display: inline-block;
  height: 50px;
  vertical-align: middle;
  position: relative;
  width: 50px;
  z-index: 1;

  &.active {
    .header-search__input-box {
      transition: 200ms ease;
      width: 320px;
      input {
        background: #fff;
        border-color: #0e78cf;
        transition: 200ms ease;
      }
    }
    .header-search__button{
      transition: 200ms ease;
      background: #0e78cf;
    }
  }
}

.header-search__input-box {
  position: absolute;
  right: 0;
  height: 50px;
  overflow: hidden;
  transition: 700ms ease-out;
  width: 0;

  input {
    background: rgba(255, 255, 255, 0);
    border: 1px solid #0e78cf;
    border-color: rgba(255, 255, 255, 0);
    box-sizing: border-box;
    height: 50px;
    padding: 0 20px;
    transition: 700ms ease-out;
    width: 100%;
  }
}

.header-search__button {
  background: rgba(14, 120, 207, 0);
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: 700ms ease-out;

  &:before {
    @include icon-sprite($search-icon);
    cursor: pointer;
    z-index: 1;
  }
}