//help-for-business
.help-for-business {
  background-color: $white;

  .title-business {
    color: $dark;
    font-family: $robotoCondensed;
    font-size: 26px;
    font-weight: $boldWeight;
    margin-bottom: 40px;
  }
}

.help-card-request {
  align-items: center;
  border: 2px solid #1c80d2;
  cursor: pointer;
  display: inline-flex;
  height: 221px;
  flex-wrap: wrap;
  width: 100%;

  .help-label {
    text-decoration: none;
    width: 100%;

    .help-request {
      font-family: $montserrat;
      font-size: 24px;
      font-weight: $semiBoldWeight;
      color: #1c80d2;
      line-height: 31px;
      width: 124px;
    }
  }

  .help-request-icon {
    @include sprite($paper-plane);
  }
}

.help-card {
  align-items: flex-end;
  border: 1px solid #dddddd;
  cursor: pointer;
  display: block;
  height: 221px;
  flex-wrap: wrap;
  margin: 0 auto 30px;
  max-width: 380px;
  padding: 100px 30px 30px;
  position: relative;
  transition: 700ms ease;
  text-decoration: none!important;
  width: 100%;

  &:hover {
    border-color: #1c80d2;
    transition: 200ms ease;
  }

  .help-description {
    color: $black;
    font-family: $montserrat;
    font-weight: $mediumWeight;
    font-size: 18px;
    line-height: 25px;
    width: 292px;
  }

  .help-price {
    font-family: $montserrat;
    font-weight: $mediumWeight;
    font-size: 18px;
    color: #858585;
  }

  &:before {
    @include ab(0, 0);
    position: absolute;
    left: 30px;
    top: 30px;
  }

  @each $key, $value in (
      file: $file,
      graph: $graph,
      secure-shield: $secure-shield,
      legal-document: $legal-document,
      briefcase: $briefcase
  ) {
    &.mix--#{$key}:before {
      @include sprite($value);
    }
  }
}