//image-article
.image-article {
	background-color: $white;

	.pic-article {
		background-color: $lightGray;
		width: 100%;
		height: 276px;
		margin-bottom: 53px;

		img {
			width: 100%;
			height: 100%;
		}
	}
}
