//info-about-company
.info-about-company {
	background-color: $white;

	.description-company-medium {
		display: block;
		color: #383838;
		font-size: 16px;
		font-weight: $mediumWeight;
		font-family: $montserrat;
		margin-bottom: 29px;
	}

	.description-company-light {
		display: block;
		color: #383838;
		font-size: 16px;
		font-weight: $lightWeight;
		font-family: $montserrat;
		margin-bottom: 50px;
	}

	.description-company-light:nth-last-child(2) {
		margin-bottom: 29px;
	}

	.description-company-light:nth-last-child(1) {
		margin-bottom: 109px;
	}

	.pic-service {
		width: 100%;
		height: 201px;
		background-color: $gray;

		img {
			width: 100%;
			height: 100%;
		}
	}

	.list-services {
		border: 1px solid #dddddd;

		.nav {
			.active-item {
				background-color: #f2f6f9;
				border-left: 3px solid #0079d3;
			}

			.nav-item {
				border-bottom: 1px solid #dddddd;

				.nav-link {
					color: $black;
					font-size: 16px;
					font-family: $montserrat;
					font-weight: $lightWeight;
				}
			}

			.final-item {
				border-bottom: none;
			}
		}
	}
}