.job-single {
  margin-bottom: 80px;
}

.job-single__title {
  font-family: $robotoCondensed;
  font-size: 30px;
  margin-bottom: 45px;
}

.job-single__description {
  font-size: 15px;
  line-height: 1.4;
}