//Nav-gray-Footer
.nav-gray-footer {
	background-color: #3e4147;

	.firm-company {
		width: 37px;
		height: 41px;
	}


	.your-firm {
		color: $white;
		font-family: $robotoCondensed;
		font-weight: $regularWeight;
		font-size: 20.1px;

		span {
			color: #2a9fff;
		}
	}

	.call-request, .number, .mail {
		color: $white;
		font-size: 16px;
		font-family: $roboto;
		font-weight: $mediumWeight;
	}

	.call-request{
		cursor: pointer;
	}

	.number {
		margin-right: 38px;
	}
}