//Nav Footer
.nav-footer {
	background-color: #373a40;

	.agreement, .policy, .rights-reserved {
		font-size: 14px;
		font-family: $roboto;
		font-weight: $lightWeight;
		color: $lightGray;
	}

	.nav {
		margin-top: 49px;

		.nav-item {
			margin-bottom: 24px;

			.nav-link {
				color: #e0e0e0;
				font-size: 14px;
				font-family: $montserrat;
				font-weight: $semiBoldWeight;
				padding: 0;
			}

			.nav-link-light {
				font-weight: $lightWeight;
			}
		}

	}
}