//nav-header
.nav-header {
  background-color: $dark;

  .your-firm-logo {
    white-space: nowrap;

    .your-firm-pic {
      margin-bottom: -20px;
    }

    .your-firm-text {
      color: $white;
      font-size: 20px;
      font-family: $montserrat;
      font-weight: $mediumWeight;

      .your-firm-text-second-part {
        color: $mainColor;
      }
    }
  }

  .nav {
    .nav-item {
      font-size: 14px;
      font-family: $montserrat;
      font-weight: $regularWeight;
      opacity: 0.6;

      .nav-link {
        color: $white;
      }
    }
  }

  .number-phone-support {
    font-family: $montserrat;
    font-weight: $regularWeight;
    color: $white;
    font-size: 16px;
    margin-right: 40px;
  }
}

@media screen and (max-width: 992px) {
  .nav-header {
    .your-firm-logo {
      display: none;
    }

    .navbar {
      display: flex;

      .collapse {
        .navbar-nav {
          .nav {
            .nav-item {
              margin-right: 1rem;
            }

            .nav-item:last-child {
              margin-right: 0;
            }
          }

          .number-phone-support {
            display: inline-block;
          }

          .search-icon-link {
            display: inline-block;
          }
        }
      }
    }

    .container {
      .nav {
        display: none;
      }
    }
  }

  .number-phone-support {
    display: none;
  }
}