//pagination-list
.pagination-list {
	background-color: $white;

	.pagination {
		margin-top: 71px;
		margin-bottom: 122px;

		.page-item {
			.page-link {
				background-color: $white;
				border: none;
				color: #a1a1a1;
				font-size: 18px;
				font-weight: $semiBoldWeight;
				font-family: $montserrat;
			}

			.page-link--prev:before{
				content: '<';
				display: inline-block;
				margin-right: 15px;
			}
			.page-link--next:after{
				content: '>';
				display: inline-block;
				margin-left: 15px;
			}

			.active-item {
				background: none;
				background-color: $white;
				border: none;
				color: #444343;
				font-size: 18px;
				font-weight: $semiBoldWeight;
				font-family: $montserrat;
			}

			.next {
				color: $black;
			}
		}
	}
}

@media screen and (max-width: 767px) {
	.pagination-list {
		.col-sm {
			.pagination {
				display: none;
			}
		}
	}
}