//paragraph-article
.paragraph-article {
	background-color: $white;

	.header {
		width: 80%;
		display: inline-block;
		color: #383838;
		font-size: 20px;
		font-weight: bold;
		font-family: $montserrat;
	}

	.text-paragraph {
		color: #383838;
		display: block;
		width: 90%;
		font-size: 16px;
		font-weight: $lightWeight;
		font-family: $montserrat;
	}

	.enumeration-paragraph-article {
		list-style-type: none;
		padding-left: 0;

		.item-enumeration-paragraph {
			align-items: center;
			display: flex;
			flex-wrap: wrap;

			.dash-enumeration {
				width: 17px;
				height: 1px;
				background-color: #383838;
			}

			.text-enumeration {
				color: #383838;
				font-size: 16px;
				font-weight: $lightWeight;
				font-family: $montserrat;
				width: 90%;
			}
		}
	}
}

@media screen and (max-width: 767px) {
	.paragraph-article {
		.header {
			width: 100%;
		}

		.text-paragraph {
			width: 100%;
		}

		.enumeration-paragraph-article {
			.item-enumeration-paragraph {
				.text-enumeration {
					width: 70%;
				}
			}
		}
	}
}