//primary-sale-business

.primary-sale-business {
	background-color: $white;

	.card-article-vertical {
		display: flex;
		flex-wrap: wrap;
		background-color: $gray;
		width: 350px;
		height: 533px;

		.title-articles {
			background: none;
			display: block;
			font-weight: bold;
		}

		.read-article {
			align-self: flex-end;
			color: $lightGray;
			border-bottom: 1px solid $lightGray;
			text-decoration: none;
			display: inline-block;
		}
	}

	.help-card {
		align-items: center;
		display: inline-flex;
		flex-wrap: wrap;
		width: 351px;
		height: 240px;

		a {
			text-decoration: none;

			.help-request {
				display: inline-block;
				color: $black;
				font-size: $business;
				width: 229px;
			}
		}

		.help-description {
			width: 216px;
			font-weight: bold;
		}

		.help-description, .help-icon, .help-price {
			display: block;
		}

		.help-icon, .help-price {
			width: 100%;
		}

		.help-icon {
			height: 102px;
		}
	}

	.service-request-form-block {
		.fields-service-request-form {
			display: flex;
			flex-wrap: wrap;

			.line-fields-service-request-form {
				display: inline-flex;
				width: 100%;
				justify-content: space-between;

				.form-control {
					width: 49%;
					height: 46px;
				}

				.submit-request {
					width: 49%;
					height: 46px;
					background-color: $dark;
					color: $white;
					font-size: 16px;
					text-align: center;
					border: none;
				}
			}
		}

		.personal-data-processing {
			color: $lightGray;

			a {
				color: $lightGray;
				text-decoration: underline;
			}
		}

		.title-service-request-form {
			color: $black;
			font-size: $business;
		}
	}

	.title-business {
		color: $dark;
		font-size: $business;
		font-weight: bold;
	}
}