//Purchase-sale-business
.purchase-sale-business {
  background: url("../../../../public/imgs/purchaseSaleBusinessBg.png") no-repeat;
  background-size: cover;
  padding-top: 60px;

  .purchase-sale-block {
    margin-bottom: 101px;

    .big-tittle {
      color: $dark;
      display: block;
      font-family: $robotoCondensed;
      font-size: 54px;
      font-weight: $boldWeight;
      line-height: 63px;
      width: 505px;

      span {
        color: #0e78cf;
      }
    }

    .button-buy-business, .button-sell-business {
      width: 209px;
      height: 66px;
      margin-top: 3rem;
      font-family: $montserrat;
      font-weight: $boldWeight;
      font-size: 18px;
      text-decoration: none;
      text-align: center;
    }

    .button-buy-business {
      background-color: $darkBlue;
      color: $white;
    }

    .button-sell-business {
      border: 2px solid $darkBlue;
      color: $darkBlue;
    }

    .button-sell-business:hover {
      color: $darkBlue;
    }
  }

  .firm-stats-single {
    margin-bottom: 0.5rem;

    .numbers-stat {
      font-family: $robotoCondensed;
      font-weight: $boldWeight;
      color: $darkBlue;
      display: block;
      font-size: 36px;
    }

    .text-stat {
      font-size: 16px;
      font-family: $montserrat;
      font-weight: $regularWeight;
      color: $dark;
    }
  }

}

@media screen and (max-width: 767px) {
  .purchase-sale-business {
    .purchase-sale-block {
      margin-bottom: 3rem;

      .big-tittle {
        width: 100%;
        text-align: center;
      }

      .button-buy-business {
        width: 100%;
      }

      .button-sell-business {
        width: 100%;
      }
    }

    .firm-stats-single {
      text-align: center;
    }

    .firm-stats-single:last-child {
      margin-bottom: 3rem;
    }


  }
}

