//Ready businesses
.ready-business {
  background-color: $white;

  .card-ready-business {
    width: 100%;
    height: 360px;
    border-color: $gray;

    .preview-ready-business {
      background-color: $gray;
      display: flex;
      position: relative;
      width: 100%;
      height: 138px;

      .best-offer-business {
        background-color: $white;
        border-radius: 5px;
        color: #0e78cf;
        font-size: 12px;
        font-weight: $semiBoldWeight;
        font-family: $montserrat;
        text-align: center;
        top: 13px;
        left: 17px;
        position: absolute;
        padding: 6px;
      }

      .pic-business {
        width: 100%;
        height: 100%;
      }
    }

    .info-ready-business {
      width: 100%;
      padding-top: 30px;
      padding-left: 18px;
      padding-right: 18px;
      padding-bottom: 20px;

      .title-ready-business, .price-ready-business, .profit-ready-business {
        display: block;
      }

      .title-ready-business {
        color: $black;
        font-size: 18px;
        font-family: $montserrat;
        font-weight: $mediumWeight;
        width: 90%;
        height: 50px;
        margin-bottom: 29px;
      }

      .price-ready-business {
        color: #383838;
        font-size: 22px;
        font-family: $montserrat;
        font-weight: $mediumWeight;
      }

      .profit-ready-business {
        color: #383838;
        font-size: 16px;
        font-family: $montserrat;
        font-weight: $lightWeight;
      }

      div {
        width: 100%;
        display: inline-flex;
        justify-content: space-between;

        .city-ready-business {
          color: #828282;
          font-size: 16px;
          font-family: $montserrat;
          font-weight: $lightWeight;
        }

        .date-ready-business {
          color: #828282;
          font-size: 14px;
          font-family: $montserrat;
          font-weight: $lightWeight;
        }
      }
    }
  }

  .list-begin {
    color: $dark;
    display: inline-block;
    font-family: $montserrat;
    font-weight: $regularWeight;
    font-size: 14px;
    margin-bottom: 0.5rem;
  }

  .list-filter {
    @extend .ml-3;
    background-color: $white;
    border-radius: 5px;
    border: 1px solid #c9cfdf;
    display: inline-block;
    font-family: $montserrat;
    font-weight: $lightWeight;
    font-size: 14px;
    margin-bottom: 0.5rem;
    padding: 5px;
    text-decoration: none;
  }

  .activated {
    background-color: $gray;
    color: $dark;
    border-radius: 4px;
    border-width: 0;
  }


  .title-business {
    color: $dark;
    font-family: $robotoCondensed;
    font-size: 26px;
    font-weight: $boldWeight;
  }

  .show-all {
    font-family: $montserrat;
    font-size: 18px;
    font-weight: $mediumWeight;
    color: $lightGray;
    border-bottom: 1px solid $lightGray;
    text-decoration: none;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .ready-business {
    .card-ready-business {
      height: 100%;
    }
  }
}

@media (min-width: 320px) and (max-width: 575px) {
  .ready-business {
    .card-ready-business {
      height: 100%;
    }

    .list-filter {
      display: block;
    }

    .list-begin {
      display: block;
    }
  }
}


/*
@media (min-width: 992px) and (max-width: 1199px) {
	.ready-business {
		.card-ready-business {
			width: 293px;
		}
	}
}



@media (min-width: 576px) and (max-width: 767px) {
	.ready-business {
		.card-ready-business {
			width: 244px;
		}
	}
}

@media (min-width: 320px) and (max-width: 575px) {
	.ready-business {
		.col {
			justify-content: center !important;
		}
	}
}

 */