.review-b {
  border: 1px solid #e8e8e8;
  color: #676666;
  font-family: $montserrat;
  margin-bottom: 40px;
  padding: 30px 45px;
  position: relative;
}

.review-b__download{
  background: #f2f6f9;
  display: block;
  height: 40px;
  position: absolute;
  right: 0;
  top: 0;
  width: 40px;
  &:before{
    @include icon-sprite($download);
  }
}

.review-b__content {
  line-height: 1.4;
  font-size: 15px;
  margin-bottom: 30px;
}

.review-b__author {
  font-weight: 600;
}