//Select business
.select-business {
  background-color: $white;
  position: relative;
  z-index: 1;

  .form-business {

    .form-business__nav {
      .nav {
        .nav-item {
          .nav-link {
            font-family: $montserrat;
            font-size: 16px;
            font-weight: $mediumWeight;
            margin-bottom: -1px;
            padding: 15px;
            position: relative;
            z-index: 2;
          }

          .tabs__toggle--active {
            background-color: $white;
            border: 1px solid $gray;
            border-bottom: 1px solid #fff;
            color: #434343;
            border-bottom: 2px solid transparent;
          }
        }
      }
    }

    .form-business-show {
      border: 1px solid $gray;
      width: 100%;

      .title-field {
        color: #383838;
        display: block;
        font-size: 15px;
        font-family: $montserrat;
        font-weight: $regularWeight;
        margin-bottom: 17px;
      }

      .choose-category-business {
        margin-right: 38px;
        width: 100%;

        .category-field {
          border: 1px solid $gray;
          color: #9d9d9d;
          font-family: $montserrat;
          font-weight: $regularWeight;
          font-size: 14px;
          width: 246px;
          height: 48px;
          padding-left: 19px;
        }
      }

      .choose-price-business {
        margin-right: 38px;

        .choose-price-fields {
          .black-stroke-between-fields {
            background-color: $black;
            display: inline-flex;
            width: 5px;
            height: 1px;
            margin-right: 10px;
            margin-left: 10px;
          }

          .choose-price-field {
            border: 1px solid $gray;
            color: #9d9d9d;
            font-family: $montserrat;
            font-weight: $regularWeight;
            font-size: 14px;
            width: 98px;
            height: 48px;
            padding-left: 19px;
          }
        }
      }

      .choose-profit-business {
        .profit-field {
          border: 1px solid $gray;
          font-family: $montserrat;
          font-weight: $regularWeight;
          font-size: 14px;
          width: 235px;
          height: 48px;
          padding-left: 19px;
          margin-right: 34px;
        }
      }

      .show-business {
        align-self: flex-end;
        width: 100%;

        .show-business-button {
          border: none;
          background-color: #0e78cf;
          color: $white;
          font-family: $montserrat;
          font-weight: $regularWeight;
          font-size: 14px;
          outline: none;
          width: 100%;
          height: 50px;
        }
      }

      .choose-search-business {
        .search-field {
          border: 1px solid $gray;
          font-family: $montserrat;
          font-weight: $regularWeight;
          font-size: 14px;
          width: 635px;
          height: 48px;
          padding-left: 19px;
          margin-right: 34px;
        }
      }
    }

  }

  .title-business {
    color: $dark;
    font-family: $robotoCondensed;
    font-size: 26px;
    font-weight: $boldWeight;
  }
}

@media screen and (max-width: 991px) {
  .select-business {
    .form-business-show {
      .choose-category-business, .choose-price-business, .choose-profit-business {
        margin-bottom: 1.5rem;
      }
    }
  }
}
