//service-request-form
.service-request-form {
	background-color: $white;

	.service-request-form-block {
		border: 1px solid #e8e8e8;
		margin-top: 67px;
		margin-bottom: 146px;

		.fields-service-request-form {
			margin-top: 27px;
			display: flex;
			flex-wrap: wrap;

			.line-fields-service-request-form {
				display: inline-flex;
				width: 100%;
				justify-content: space-between;

				.form-control {
					width: 49%;
					height: 46px;
				}

				.form-control::placeholder {
					color: #c4c4c4;
					font-size: 15px;
					font-weight: $light;
					font-family: $montserrat;
				}

				.submit-request {
					border: none;
					color: $white;
					font-size: 16px;
					font-family: $montserrat;
					font-weight: $mediumWeight;
					width: 49%;
					height: 46px;
					background-color: #0079d3;
					text-align: center;
				}
			}
		}

		.personal-data-processing {
			color: #7e7e7e;
			font-size: 14px;
			font-weight: $lightWeight;
			font-family: $montserrat;

			a {
				color: #2c2c2c;
				text-decoration: underline;
			}
		}

		.title-service-request-form {
			color: $black;
			font-size: 24px;
			font-weight: $boldWeight;
			font-family: $robotoCondensed;
		}
	}
}