.simple-gallery {
  position: relative;
  &:not(.runned){
    .simple-gallery__href:nth-child(n+2){
      display: none;
    }
  }
  .gallery-box__carousel-arrow{
    background: rgba(255, 255, 255, .7);
    height: 50px;
    position: absolute;
    top: 50%;
    margin: -25px 0 0;
    width: 50px;
  }
  .gallery-box__carousel-arrow--prev{
    left: 0;
  }
  .gallery-box__carousel-arrow--next{
    right: 0;
  }
}

.simple-gallery__images{
}

.simple-gallery__arrow--prev{
  //@include icon-sprite($gallery-prev);
}
.simple-gallery__arrow--next{
  //@include icon-sprite($gallery-next);
}

.simple-gallery__href {
  img{
    max-width: 100%
  }
}