.special-menu {
  border: 1px solid #dddddd;

  .nav {
    .active-item {
      background-color: #f2f6f9;
      border-left: 3px solid #0079d3;
    }

    .nav-item {
      border-bottom: 1px solid #dddddd;

      .nav-link {
        color: $black;
        font-size: 16px;
        font-family: $montserrat;
        font-weight: $lightWeight;
      }
    }

    .final-item {
      border-bottom: none;
    }
  }
}